// regole generali

$float: left;
$border: 2px solid red;
@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

@mixin flexElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

// /regole generali

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 500px;
    width: calc(100% / 3);
    float: $float;
    border: $border;
    color: grey;
    @include flexElement;
    flex-direction: column;
}

.container {
    width: 100%;
    @include clearfix;
}

header, footer {
    background-color: orange;
    width: 100%;
    height: 70px;
    @include flexElement;

}

.card {
    height: 50px;
    width: 50px;
    background-color: green;
    margin: 10px
}

.card_container {
    @include flexElement;
}

